<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header>
    <div class="hero">
        <section class="layout">
            <img src="">
            <div class="branding">
                <a href="index.html">
                    <img src="img/pepsico_logo.png" id="pepsico_logo"/>
                </a>
            </div><!-- branding -->
        </section><!-- layout -->
    </div><!-- hero -->


    <div class="navigation">
        <section class="layout">
            <ul>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="sustainability">Sustainability</a>
                        <div class="dropdown-content" id="sustain-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="brands">brand</a>
                        <div class="dropdown-content" id="brands-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="newsroom">newsroom</a>
                        <div class="dropdown-content" id="newsroom-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="investor">investors</a>
                        <div class="dropdown-content" id="investor-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown" id="map">
                        <a href="#" class="dropbtn" id="global">
                            <img src="img/GLOBAL.png" style="width: 1.5vw;height: 5vh;"></a>
                        <div class="dropdown-content" id="global-content">
                            <div>hello</div>
                        </div>
                    </div>
                </li>


                <li><a href="#" id="brands"
                       data-toggle="collapse"
                       data-target="#brands-content">Brands</a>
                    <ul class="dropdown-content collapse" id="brands-content">
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                    </ul>
                </li>
                <li><a href="#" id="newsroom"
                       data-toggle="collapse"
                       data-target="#newsroom-content">Newsroom</a>
                    <ul class="dropdown-content collapse" id="newsroom-content">
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                    </ul>
                </li>
                <li><a href="#" id="investors"
                       data-toggle="collapse"
                       data-target="#investor-content">Investors</a>
                    <ul class="dropdown-content collapse" id="investor-content">
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li><a href="#" id="contact"
                       data-toggle="collapse"
                       data-target="#contact-content">Contact</a>
                    <ul class="dropdown-content collapse" id="contact-content">
                        <li href="#"><a href="#"> Link </a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="global"
                       data-toggle="collapse"
                       data-target="#global-content"><img src="img/GLOBAL.png"></a>
                    <div class="dropdown-content collapse" id="global-content"
                         style="background-color: #0f7f88; width: 400px; height: 500px">
                        sfsadfadfsadfdsafadsfdf
                    </div>
                </li>
                <li>
                    <form id="demo-2">
                        <input type="search">
                    </form>
                </li>


                <li><a href="#" id="sustainability"
                       data-toggle="collapse"
                       data-target="#sustain-content">Sustainability</a>
                    <ul class="dropdown-content collapse" id="sustain-content">
                        <li href="#"><a href="#">Link 2</a></li>
                        <li href="#"><a href="#"> Link 2</a></li>
                        <li href="#"><a href="#"> Link 2</a></li>
                    </ul>
                </li>
                <li><a href="#" id="brands"
                       data-toggle="collapse"
                       data-target="#brands-content">Brands</a>
                    <ul class="dropdown-content collapse" id="brands-content">
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                    </ul>
                </li>
                <li><a href="#" id="newsroom"
                       data-toggle="collapse"
                       data-target="#newsroom-content">Newsroom</a>
                    <ul class="dropdown-content collapse" id="newsroom-content">
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                    </ul>
                </li>
                <li><a href="#" id="investors"
                       data-toggle="collapse"
                       data-target="#investor-content">Investors</a>
                    <ul class="dropdown-content collapse" id="investor-content">
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li><a href="#" id="contact"
                       data-toggle="collapse"
                       data-target="#contact-content">Contact</a>
                    <ul class="dropdown-content collapse" id="contact-content">
                        <li href="#"><a href="#"> Link </a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="global"
                       data-toggle="collapse"
                       data-target="#global-content"><img src="img/GLOBAL.png"></a>
                    <div class="dropdown-content collapse" id="global-content"
                         style="background-color: #0f7f88; width: 400px; height: 500px">
                        sfsadfadfsadfdsafadsfdf
                    </div>
                </li>
                <li>
                    <form id="demo-2">
                        <input type="search">
                    </form>
                </li>
            </ul>
        </section><!-- layout -->
    </div><!-- navigation -->
</header><!-- header -->

<!--   -------------------------------------------------------------------------------------->
</body>
</html>