<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header>
    <div class="hero">
        <section class="layout">
            <img src="">
            <div class="branding">
                <a href="index.html">
                    <img src="img/pepsico_logo.png" id="pepsico_logo"/>
                </a>
            </div><!-- branding -->
        </section><!-- layout -->
    </div><!-- hero -->


    <div class="navigation">
        <section class="layout">
            <ul>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="sustainability">Sustainability</a>
                        <div class="dropdown-content" id="sustain-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="brands">brand</a>
                        <div class="dropdown-content" id="brands-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="newsroom">newsroom</a>
                        <div class="dropdown-content" id="newsroom-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn" id="investor">investors</a>
                        <div class="dropdown-content" id="investor-content">
                            <a href="#">Link 2</a>
                            <a href="#"> Link 2</a>
                            <a href="#"> Link 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown" id="map">
                        <a href="#" class="dropbtn" id="global">
                            <img src="img/GLOBAL.png" style="width: 1.5vw;height: 5vh;"></a>
                        <div class="dropdown-content" id="global-content">
                            <div>hello</div>
                        </div>
                    </div>
                </li>


                <li><a href="#" id="brands"
                       data-toggle="collapse"
                       data-target="#brands-content">Brands</a>
                    <ul class="dropdown-content collapse" id="brands-content">
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                    </ul>
                </li>
                <li><a href="#" id="newsroom"
                       data-toggle="collapse"
                       data-target="#newsroom-content">Newsroom</a>
                    <ul class="dropdown-content collapse" id="newsroom-content">
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                    </ul>
                </li>
                <li><a href="#" id="investors"
                       data-toggle="collapse"
                       data-target="#investor-content">Investors</a>
                    <ul class="dropdown-content collapse" id="investor-content">
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li><a href="#" id="contact"
                       data-toggle="collapse"
                       data-target="#contact-content">Contact</a>
                    <ul class="dropdown-content collapse" id="contact-content">
                        <li href="#"><a href="#"> Link </a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="global"
                       data-toggle="collapse"
                       data-target="#global-content"><img src="img/GLOBAL.png"></a>
                    <div class="dropdown-content collapse" id="global-content"
                         style="background-color: #0f7f88; width: 400px; height: 500px">
                        sfsadfadfsadfdsafadsfdf
                    </div>
                </li>
                <li>
                    <form id="demo-2">
                        <input type="search">
                    </form>
                </li>


                <li><a href="#" id="sustainability"
                       data-toggle="collapse"
                       data-target="#sustain-content">Sustainability</a>
                    <ul class="dropdown-content collapse" id="sustain-content">
                        <li href="#"><a href="#">Link 2</a></li>
                        <li href="#"><a href="#"> Link 2</a></li>
                        <li href="#"><a href="#"> Link 2</a></li>
                    </ul>
                </li>
                <li><a href="#" id="brands"
                       data-toggle="collapse"
                       data-target="#brands-content">Brands</a>
                    <ul class="dropdown-content collapse" id="brands-content">
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                        <li href="#"><a href="#"> Link 3</a></li>
                    </ul>
                </li>
                <li><a href="#" id="newsroom"
                       data-toggle="collapse"
                       data-target="#newsroom-content">Newsroom</a>
                    <ul class="dropdown-content collapse" id="newsroom-content">
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                        <li href="#"><a href="#"> Link 4</a></li>
                    </ul>
                </li>
                <li><a href="#" id="investors"
                       data-toggle="collapse"
                       data-target="#investor-content">Investors</a>
                    <ul class="dropdown-content collapse" id="investor-content">
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li><a href="#" id="contact"
                       data-toggle="collapse"
                       data-target="#contact-content">Contact</a>
                    <ul class="dropdown-content collapse" id="contact-content">
                        <li href="#"><a href="#"> Link </a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                        <li href="#"><a href="#"> Link 5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="global"
                       data-toggle="collapse"
                       data-target="#global-content"><img src="img/GLOBAL.png"></a>
                    <div class="dropdown-content collapse" id="global-content"
                         style="background-color: #0f7f88; width: 400px; height: 500px">
                        sfsadfadfsadfdsafadsfdf
                    </div>
                </li>
                <li>
                    <form id="demo-2">
                        <input type="search">
                    </form>
                </li>
            </ul>
        </section><!-- layout -->
    </div><!-- navigation -->
</header><!-- header -->

<!--   meaningless css -------------------------------------------------------------------------------------->

//header {
//  margin-top: 50.50px;
//  img {
//    display: block;
//    margin: auto;
//  }
//}
//
//ul {
//  list-style-type: none;
//  margin: auto;
//  display: block;
//  padding: 0;
//  overflow: hidden;
//  background-color: #978e83;
//  text-transform: uppercase;
//  font-weight: 300;
//  font-size: 1.2rem;
//  li {
//    float: left;
//    padding-left: 20px;
//    a {
//      display: block;
//      color: white;
//      text-align: center;
//      padding: 14px 16px;
//      text-decoration: none;
//      &:hover {
//        transform: scale(1.2);
//        //font-weight: 700;
//      }
//    }
//  }
//}

//
//
//// ------------------ drop down ----------------------
///* Dropdown Content (Hidden by Default) */
//
//
//.dropbtn {
//  background-color: #978e83;
//  text-transform: uppercase;
//  font-weight: 300;
//  color: white;
//}
//.navigation{
//  background: red; /* For browsers that do not support gradients */
//  background: -webkit-linear-gradient(-90deg, red, yellow); /* For Safari 5.1 to 6.0 */
//  background: -o-linear-gradient(-90deg, red, yellow); /* For Opera 11.1 to 12.0 */
//  background: -moz-linear-gradient(-90deg, red, yellow); /* For Firefox 3.6 to 15 */
//  background: linear-gradient(-90deg, red, yellow); /* Standard syntax */
//}
//.navigation .layout{
//  display: block;
//  height: 100%;
//  margin: auto;
//
//}
//.dropdown {
//  position: relative;
//  display: inline-block;
//  padding: 0 20px;
//  height: 300px;
//  a{
//    &:hover{
//      text-decoration: none;
//      color: white;
//    }
//  }
//}
//
//.dropdown-content {
//  display: none;
//  position: absolute;
//  background-color: #f9f9f9;
//  min-width: 860px;
//  left: 0;
//  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//  z-index: 1;
//}
//#sustainability-content{
//  transition: .8s ease-out;
//
//}
//#brands-content{
//  transform: translateX(-200px);
//  transition: .8s ease-out;
//
//}
//
//#newsroom-content{
// transform: translateX(-320px);
//  transition: .8s ease-out;
//}
//
//#investor-content{
//  transform: translateX(-470px);
//  transition: .8s ease-out;
//
//}
//#global{
//
//}
//
//
//#global-content{
//width: 100%;
//height: 100%;
//  transition: .5s ease-out;
//
//}
//
//
//#map{
//  position: relative;
//  display: inline-block;
//  &:hover #global-content{
//    display: block;
//  }
//}
//#global{
//
//}
//#global-content{
//  display: none;
//  position: absolute;
//  background-color: #f9f9f9;
//  width: 100%;
//  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//  z-index: 100;
//}
//
//
///* Links inside the dropdown */
//.dropdown-content a {
//  color: grey;
//  padding: 12px 16px;
//  text-decoration: none;
//  display: inline-block;
//}
//
//
//.dropdown:hover .dropdown-content{
//  display: block;
//}
//
//
//
///* Change color of dropdown links on hover */
//.dropdown-content a:hover {
//  color: grey;
//}
//
///* Show the dropdown menu on hover */
//.dropdown:hover .dropdown-content {
//  display: block;
//}
//
//
//#about:hover #about-content,
//#sustainability:hover #sustainability-content,
//#brands:hover .dr-content,
//#newsroom:hover .dropdown-content,
//#investors:hover .dropdown-content {
//  display: block;
//}
//
//#about:hover .dropbtn {
//  background-color: #3e8e41;
//}
//
//
//
//
//
//



//// ------------------ search bar -----------------------
//input {
//  outline: none;
//  position: absolute;
//
//}
//
//input[type=search] {
//  -webkit-appearance: textfield;
//  -webkit-box-sizing: content-box;
//  font-family: inherit;
//  font-size: 100%;
//}
//
//input::-webkit-search-decoration,
//input::-webkit-search-cancel-button {
//  display: block;
//}
//
//input[type=search] {
//  background: url("../img/SEARCH.png") no-repeat 9px center;
//  padding: 9px 10px 9px 32px;
//  width: 55px;
//  border: solid 0 transparent;
//  -webkit-transition: all .5s;
//  -moz-transition: all .5s;
//  transition: all .5s;
//}
//
//input[type=search]:focus {
//  width: 700px;
//  border-color: #66CC75;
//  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
//  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
//  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
//}
//
//input:-moz-placeholder {
//  //color: #999;
//}
//
//input::-webkit-input-placeholder {
//}
//
///* Demo 2 */
//#demo-2 input[type=search] {
//  width: 15px;
//  padding-left: 10px;
//  color: transparent;
//  cursor: pointer;
//}
//
//#demo-2 input[type=search]:hover {
//}
//
//#demo-2 input[type=search]:focus {
//  width: 530px;
//  z-index: 1;
//  padding-right: 32px;
//  color: #000;
//  background-color: #fff;
//  cursor: auto;
//}
//
//#demo-2 input:-moz-placeholder {
//  color: transparent;
//}
//
//#demo-2 input::-webkit-input-placeholder {
//  color: transparent;
//}
//
//@keyframes search {
//  0% {
//    transform: translateX(0)
//  }
//  100% {
//    transform: translateX(-700px)
//  }
//}
//
//// content -----------------------------
//content {
//  padding: 40%;
//  .header {
//    margin-top: 20em;
//    //@include at-breakpoint($medium) {
//    //  @include span-columns(8, 12);
//    //}
//  }
//}


<!-- green sock map function-->

// var Map = function Map() {
//
//     var _this3 = this;
//
//     this.popoverClose = $('#popover__close');
//     this.popverPinBtn = $('.pin__popover');
//
//     this.popoverToggleState = false;
//
//     this.popoverContent = $('.popover__copy');
//     // this.languagesList = $('');
//
//     this.toggleOpenClass = function () {
//         _this3.popoverContent.toggleClass('popover__copy--active');
//     };
//     //map-> global
//     Timelines['map'] = new TimelineMax({delay: 0}).pause();
//     Timelines['map'].addCallback(this.toggleOpenClass);
//     //lnaguagelisst
//     Timelines['map'].to(this.popoverContent, 0.4, {opacity: 1});
//
//
//     this.toggleMapMenu = function () {
//         if (!_this3.popoverToggleState) {
//             if (Timelines['search'].progress() !== 0) {
//                 Timelines['search'].reverse();
//             }
//             if (Timelines['social'].progress() !== 0) {
//                 Timelines['social'].tweenTo(0).duration(0.25);
//             }
//             Timelines['map'].play();
//             _this3.popoverToggleState = true;
//         } else {
//             Timelines['map'].reverse(0.5);
//             _this3.popoverToggleState = false;
//         }
//     };
//     this.popverPinBtn.on('click', this.toggleMapMenu);
//     this.popoverClose.on('click', this.toggleMapMenu)
// };











</body>
</html>