<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PepsiCo</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>


<body>

<!-----------------------------  global site   ------------------------------>
<div class="pep-languages" id="pep-languages">
    <div class="container pep-languages__container">
        <div class="global_sites_header">
            <div class="global_sites_title" style="letter-spacing: 2.5px">
                <div>pepsico</div>
                <span>Global sites</span>
            </div>
            <div class="pep-languages__close" id="pep-languages__close"></div>
        </div>

        <div class="pep_languages_list1">
            <div class="pep_language_list_left">
                <div class="pep-languages-list pep-languages-list--americas">
                    <h3 class="pep-languages__header">Americas</h3>
                    <ul class="pep-languages-set pep-unlistify">
                        <li class="pep-languages-list__item">Argentina</li>
                        <li class="pep-languages-list__item">Brazil</li>
                        <li class="pep-languages-list__item">Canada</li>
                        <li class="pep-languages-list__item">Chile</li>
                        <li class="pep-languages-list__item">Mexico</li>
                        <li class="pep-languages-list__item">United States</li>
                        <li class="pep-languages-list__item">Uraguay</li>
                    </ul>
                </div>
                <div class="pep-languages-list pep-languages-list--asia-africa">
                    <h3 class="pep-languages__header">Asia, Middle East &amp; North America</h3>
                    <ul class="pep-languages-set pep-unlistify">
                        <li class="pep-languages-list__item">China</li>
                        <li class="pep-languages-list__item">India</li>
                        <li class="pep-languages-list__item">Australia</li>
                        <li class="pep-languages-list__item">Japan</li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- -------------------------- map ---------------------------------- -->
            <!--<div class="pep_language_list_right">-->
            <!--<div class="water-map__container">-->
            <!--&lt;!&ndash;<div class="map">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pin" style="left: 16.5%; top: 31%;">&ndash;&gt;-->

            <!--&lt;!&ndash;<div id="a" class="pin__svg">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="https://d2c4mkmobpp1ph.cloudfront.net/production/images/water_map/pin.svg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--&lt;!&ndash;<div class="pin__popover" id='pin__popover'&ndash;&gt;-->
            <!--&lt;!&ndash;style="top: -51.0781px; left: 100%; margin-left: 2px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__copy" id="dialog">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__title">California</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__body">We exceeded our goal&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="http://www.nature.org/about-us/working-with-companies/companies-we-work-with/pepsico-recycle-for-nature.xml"&ndash;&gt;-->
            <!--&lt;!&ndash;target="_blank">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="undr">Learn More</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pep-languages__close" id="popover__close"></div>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="pin" style="left: 21.5%; top: 30%;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="cj2znb8lp00013k8ap08vbeuz" class="pin__svg">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="https://d2c4mkmobpp1ph.cloudfront.net/production/images/water_map/pin.svg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pin__popover" style="top: -47.6875px; left: 100%; margin-left: 2px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__copy">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__title">Colorado</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__body">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="http://www.nature.org/about-us/working-with-companies/companies-we-work-with/pepsico-recycle-for-nature.xml"&ndash;&gt;-->
            <!--&lt;!&ndash;target="_blank">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="undr">Learn More</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="pin" style="left: 19.6%; top: 35%;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="cj2znb8lp00023k8audlvu5bq" class="pin__svg">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="https://d2c4mkmobpp1ph.cloudfront.net/production/images/water_map/pin.svg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pin__popover" style="top: -64.6406px; left: 100%; margin-left: 2px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__copy">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__title">Colorado</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__body">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="http://www.nature.org/about-us/working-with-companies/companies-we-work-with/pepsico-recycle-for-nature.xml"&ndash;&gt;-->
            <!--&lt;!&ndash;target="_blank">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="undr">Learn More</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="pin" style="left: 21.5%; top: 41%;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="cj2znb8lp00033k8a5qolpqj9" class="pin__svg">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="https://d2c4mkmobpp1ph.cloudfront.net/production/images/water_map/pin.svg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pin__popover" style="top: -64.6406px; left: 100%; margin-left: 2px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__copy">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__title">Colorado</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__body">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="http://www.nature.org/about-us/working-with-companies/companies-we-work-with/pepsico-recycle-for-nature.xml"&ndash;&gt;-->
            <!--&lt;!&ndash;target="_blank">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="undr">Learn More</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="pin" style="left: 27.3%; top: 39.8%;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="cj2znb8lp00043k8a8ju1qu6z" class="pin__svg">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="https://d2c4mkmobpp1ph.cloudfront.net/production/images/water_map/pin.svg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pin__popover" style="top: -64.6406px; left: 100%; margin-left: 2px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pin__popover" style="top: -47.6875px; left: 100%; margin-left: 2px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__copy">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__title">Colorado</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="popover__body">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="http://www.nature.org/about-us/working-with-companies/companies-we-work-with/pepsico-recycle-for-nature.xml"&ndash;&gt;-->
            <!--&lt;!&ndash;target="_blank">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="undr">Learn More</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--&lt;!&ndash;<div class="map__svg pep-languages__image">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="https://d2c4mkmobpp1ph.cloudfront.net/production/images/water_map/map.svg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&lt;!&ndash;map&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&lt;!&ndash;map container&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&lt;!&ndash;pep-languagelist-right&ndash;&gt;&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="pep-languages__image"></div>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->

            <div>
                <div class="pep-languages-list pep-languages-list--europe">
                    <h3 class="pep-languages__header">Europe</h3>
                    <ul class="pep-languages-set pep-unlistify">
                        <li class="pep-languages-list__item">Europe</li>
                        <li class="pep-languages-list__item">Austria</li>
                        <li class="pep-languages-list__item">Belgium</li>
                        <li class="pep-languages-list__item">France</li>
                        <li class="pep-languages-list__item">Germany</li>
                        <li class="pep-languages-list__item">Greece</li>
                        <li class="pep-languages-list__item">Italy</li>
                    </ul>
                    <ul class="pep-languages-set pep-unlistify">
                        <li class="pep-languages-list__item">Netherlands</li>
                        <li class="pep-languages-list__item">Poland</li>
                        <li class="pep-languages-list__item">Portugal</li>
                        <li class="pep-languages-list__item">Romania</li>
                        <li class="pep-languages-list__item">Russia</li>
                        <li class="pep-languages-list__item">Spain</li>
                        <li class="pep-languages-list__item">Slovak Republic</li>
                    </ul>
                    <ul class="pep-languages-set pep-unlistify">
                        <li class="pep-languages-list__item">Czech Republic</li>
                        <li class="pep-languages-list__item">Sweden</li>
                        <li class="pep-languages-list__item">Turkey</li>
                        <li class="pep-languages-list__item">Ukraine</li>
                        <li class="pep-languages-list__item">United Kingdom</li>
                    </ul>
                </div>
            </div>

        </div><!--container-->
    </div><!--pep-languages-->

    <header>
        <!--------------------------------- logo ------------------------------------------->
        <div class="pep-nav__utility" id="global_wrapper">
            <div class="pep-nav__utility-item utility--global" id="pep-nav__utility--global">
                <span class="pep-nav__utility-item-icon" id="globalsite">Global Sites</span>
            </div>
        </div>
        <div class="hero">
            <div class="hero_1">
                <img src="img/pepsico_logo.png" id="pepsico_logo"/>
            </div>
        </div><!-- hero -->
        <div class="hero_mask"></div>

        <!-------------------------------- navigation, menu --------------------------------------->
        <div class="container" id="menu_container">
            <ul id="cbp-tm-menu" class="cbp-tm-menu">
                <li>
                    <a href="#" class="rido_title">About</a>
                    <ul class="cbp-tm-submenu" style=" left: -125px;" id="veggie_submenu1">
                        <li class="rido_subtitle"><a href="#" class="veggie_a">DIVERSITY &<br/> ENGAGEMENT</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">FOOD<br/> SERVICE</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">GLOBAL CODE<br/> OF CONDUCT</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">CORPORATE<br/> GOVERNANCE</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">LEADERSHIP<br/>/BOD</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">AWARDS<br/></a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">KEY TOPIC<br/> INDEX</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="rido_title">Sustainability</a>
                    <ul class="cbp-tm-submenu" style=" left: -235px;" id="veggie_submenu2">
                        <li class="rido_subtitle"><a href="#" class="veggie_a">PERFORMANCE<br/> WITH PURPOSE</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">SUSTAINABILITY<br/> REPORTING</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">GLOBAL<br/> CITIZENSHIP</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">KEY TOPIC<br/> INDEX</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="rido_title">Brands</a>
                    <ul class="cbp-tm-submenu" style="left: -400px;" id="veggie_submenu3">
                        <li class="rido_subtitle"><a href="#" class="veggie_a">HERO <br/>BRANDS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">YOUR HEALTH AND<br/> WELLNESS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">RECIPES<br/></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="rido_title">Newsroom</a>
                    <ul class="cbp-tm-submenu" style="left: -525px;" id="veggie_submenu4">
                        <li class="rido_subtitle"><a href="#" class="veggie_a">STORIES<br/></a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">VIDEOS<br/></a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">MEDIA <br/>COVERAGE</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">PRESS <br/>RELEASES</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">MEDIA <br/>CONTACTS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">MEDIA <br/>DOWNLOADS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="rido_title">Investors</a>
                    <ul class="cbp-tm-submenu" style=" left: -670px;width: 1200px" id="veggie_submenu5">
                        <li class="rido_subtitle"><a href="#" class="veggie_a">EARNINGS<br/> INFORMATION</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">EVENTS &<br/> PRESENTATIONS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">ANNUAL REPORTS &<br/> PROXY
                            INFORMATION</a>
                        </li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">FINANCIAL<br/> NEWS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">INVESTOR<br/> CONTACTS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">SEC <br/>FILINGS</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">STOCK <br/>INDEX</a></li>
                        <li class="rido_subtitle"><a href="#" class="veggie_a">SHAREHOLDER<br/> INFORMATION</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="rido_title">contact</a>
                </li>


                <!-- ------------ search bar ----------------------------------- -->
                <li>
                    <div class="pep-nav__utility">
                        <div class="pep-nav__utility-item utility--search" id="pep-nav__utility--search">
                            <span class="pep-nav__utility__close" id="pep-nav__utility__search-close"></span>
                            <form action="#" id="pep-nav__utility__search-form">
                                <input type="submit" class="pep-nav__utility-item-icon" value="">
                                <span class="pep-nav__utility-item-icon" id="w_glass">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 186.65 186.65"><defs><style>.cls-1 {
                                    fill: #fff;
                                }</style></defs><title>Asset 1</title>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1">
                                    <rect class="cls-1" x="146.02" y="120.29" width="22.46" height="73.91" rx="11.23"
                                          ry="11.23" transform="translate(-65.13 157.25) rotate(-45)"/>
                                    <path class="cls-1"
                                          d="M20.17,20.17a68.86,68.86,0,1,0,97.39,0A68.86,68.86,0,0,0,20.17,20.17Zm83.12,83.12a48.69,48.69,0,1,1,0-68.86A48.69,48.69,0,0,1,103.29,103.29Z"/>
                                    <path class="cls-1"
                                          d="M39.86,77.78A35.83,35.83,0,0,1,93.07,46.45a32.89,32.89,0,0,0-52.16,40A35.89,35.89,0,0,1,39.86,77.78Z"/></g></g>
                                </svg>
                            </span>
                                <input class="pep-nav__utility--search__input" id="pep-nav__utility--search__input"
                                       name="search-string" type="text" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </li>
                <!--search bar end -->
            </ul>
        </div>
    </header>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script>
        var menu = new cbpTooltipMenu(document.getElementById('cbp-tm-menu'));
    </script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>


</html>