<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div id="header">
    <img src="img/pepsico_logo.png" id="pepsico_logo"/>
</div>
<nav id="nav">
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">Brands</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#"><img src="img/GLOBAL.png"></a></li>
        <li><a href="#"><img src="img/SEARCH.png"></a></li>
    </ul>
</nav>

<script src="js/script.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>