body {
}
a{
    text-transform: uppercase;
}
.hero {
    margin: auto;
    width: 50%;
    padding: 30px 12px 12px 12px;
}

#pepsico_logo {
    display: block;
    margin: auto;
    width: 40%;
}

#menu_container {
    display: block;
    float: left;
    width: 90%;
    height: 5vh;
}



.filler-below{
    color: transparent;
    height: 2vh;
}
.cbp-tm-submenu













/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
    list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
    display: block;
    position:relative;
    z-index: 1000;
    bottom: 0;
    /*background: white;*/
    text-align: center;
    padding: 0 2em;
    margin: 0;
    text-transform: capitalize;
}

/* first level menu items */
.cbp-tm-menu > li {
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

.cbp-tm-menu > li > a {
    line-height: 4em;
    padding: 0 0.3em;
    font-size: 1.2em;
    display: block;
    /*color: #fff;*/
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
    color: #02639d;
}

/* sumbenu with transitions */
.cbp-tm-submenu {
    left: 0;
    position: absolute;
    float: left;
    background-color: white;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding-left: 240px;
    text-align: left;
    pointer-events: none;
    -webkit-transition: visibility 0s, opacity 0s;
    -moz-transition: visibility 0s, opacity 0s;
    transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu {
    /*width: 16em;*/
    /*left: 50%;*/
    margin: 0 0 0 -8em;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    -webkit-transition: visibility 0s, opacity 0.3s;
    -moz-transition: visibility 0s, opacity 0.3s;
    transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
    bottom: 100%;
    padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
    top: 100%;
    padding-top: 10px;
    opacity: 0.5;

}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
    right: 0;
    left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
    left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
    right: 0;
}

/*
arrow: depending on where the menu will be shown, we set
the right position for the arrow
*/

.cbp-tm-submenu:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

/*.cbp-tm-show-above .cbp-tm-submenu:after {*/
/*top: 100%;*/
/*margin-top: -10px;*/
/*}*/

.cbp-tm-show-below .cbp-tm-submenu:after {
    bottom: 100%;
    margin-bottom: -10px;
}

/* ARROW POSITION CONTROL */
/* ARROW POSITION CONTROL */
/* ARROW POSITION CONTROL */
.cbp-tm-submenu:after {
    border-color: transparent;
    border-width: 16px;
    margin-left: auto;
    left: 8%;
}

.veggie_li {
    float: left;
    background-color: white;
    margin: 0 10px 5px;
}

/*.cbp-tm-show-above .cbp-tm-submenu:after {*/
    /*border-top-color: #fff;*/
/*}*/

.cbp-tm-show-below .cbp-tm-submenu:after {
    border-bottom-color: #fff;
}

.cbp-tm-submenu > li {
    display: block;
    background: #fff;
}

.cbp-tm-submenu > li > a {
    /*padding: 5px 2.3em 5px 0.6em; !* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win *!*/
    display: inline-block;
    font-size: 1.2em;
    position: relative;
    color: lightgray;
    /*border: 4px solid #fff;*/
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
    color: black;
    /*background: #47a3da;*/
}

.cbp-tm-submenu li a:before {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.5em;
}

.cbp-tm-menu > li > a:not(:only-child):before {
    /*content: "\f0c9";*/
    font-size: 60%;
    opacity: 0.3;
}

/* Media Queries */
@media screen and (max-width: 55.6875em) {
    .cbp-tm-menu {
        font-size: 80%;
    }
}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

    .cbp-tm-menu {
        font-size: 100%;
        position: relative;
        text-align: center;
        padding: 0;
        top: auto;
    }

    .cbp-tm-menu > li {
        display: block;
        margin: 0;
        border-bottom: 4px solid #3793ca;
    }

    .cbp-tm-menu > li:first-child {
        border-top: 4px solid #3793ca;
    }

    li.cbp-tm-show > a,
    .no-touch .cbp-tm-menu > li > a:hover,
    .no-touch .cbp-tm-menu > li > a:active {
        color: #fff;
        /*background: #02639d;*/
    }

    .cbp-tm-submenu {
        position: relative;
        display: none;
        width: 100%;
    }

    .cbp-tm-submenu > li {
        padding: 0;
    }

    .cbp-tm-submenu > li > a {
        padding: 0.6em 2.3em 0.6em 0.6em;
        border: none;
        border-bottom: 2px solid #6fbbe9;
    }

    .cbp-tm-submenu:after {
        display: none;
    }

    .cbp-tm-menu .cbp-tm-show .cbp-tm-submenu {
        display: block;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
    }

}

/*default.css ---------------------------------*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
}

a {
    color: #f0f0f0;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.container > header {
    /*width: 90%;*/
    max-width: 69em;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
    padding: 2.875em 1.875em 1.875em;
}

.container {
    /*height: 100%;*/
    position: relative;
}

.filler-above,
.filler-below {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f0f0f0;
}

.filler-above p {
    max-width: 40em;
    margin: 0 auto;
    text-align: center;
    padding: 3em 2em;
}

.filler-below {
    top: 100%;
}

.container > header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    float: left;
    /*font-weight: 300;*/
}

.container > header > span {
    display: block;
    position: relative;
    z-index: 9999;
    /*font-weight: 300;*/
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
    width: 30px;
    height: 30px;
    left: -12px;
    font-size: 50%;
    top: -8px;
    font-size: 75%;
    position: relative;
}

.container > header > span span:hover:before {
    content: attr(data-content);
    text-transform: none;
    text-indent: 0;
    letter-spacing: 0;
    /*font-weight: 300;*/
    font-size: 110%;
    padding: 0.8em 1em;
    line-height: 1.2;
    text-align: left;
    left: auto;
    margin-left: 4px;
    position: absolute;
    color: #fff;
    background: #47a3da;
}

.container > header nav {
    float: right;
    text-align: center;
}

.container > header nav a {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    margin: 0 0.1em;
    border: 4px solid #47a3da;
}

.container > header nav a > span {
    display: none;
}

.container > header nav a:hover:before {
    content: attr(data-info);
    color: #47a3da;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    pointer-events: none;
}

.container > header nav a:hover {
    background: #47a3da;
}

/*.bp-icon:after {*/
/*font-family: 'bpicons';*/
/*speak: none;*/
/*!*font-style: normal;*!*/
/*!*font-weight: normal;*!*/
/*!*font-variant: normal;*!*/
/*text-transform: none;*/
/*text-align: center;*/
/*color: #47a3da;*/
/*-webkit-font-smoothing: antialiased;*/
/*}*/

.container > header nav .bp-icon:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-indent: 0;
}

.container > header nav a:hover:after {
    color: #fff;
}

/*.bp-icon-next:after {*/
    /*content: "\e000";*/
/*}*/

/*.bp-icon-drop:after {*/
    /*content: "\e001";*/
/*}*/

/*.bp-icon-archive:after {*/
    /*content: "\e002";*/
/*}*/

/*.bp-icon-about:after {*/
    /*content: "\e003";*/
/*}*/

/*.bp-icon-prev:after {*/
    /*content: "\e004";*/
/*}*/

@media screen and (max-width: 55em) {

    .container > header h1,
    .container > header nav {
        float: none;
    }

    .container > header > span,
    .container > header h1 {
        text-align: center;
    }

    .container > header nav {
        margin: 0 auto;
    }

    .container > header > span {
        text-indent: 30px;
    }
}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

    .filler-above,
    .filler-below {
        position: relative;
        background: #f0f0f0;
        height: auto;
    }

}
