@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Oswald:300,400,700');

body {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 160%;
  background-color: #9b9389;
  color: $darkblue;
  font-weight: 300;
}

////whole heading tags
//#{headings()} {
//  display: block;
//  position: relative;
//  font-family: $font-secondary;
//  text-transform: uppercase;
//  font-size: 2rem;
//}

footer {
  @include clearfix;
  .socialmediaicons {
    li {
      padding-right: 40px;
      &:last-child {
        display: block;
        float: right;
      }
    }
  }
}

//-----------------------------------------
//----------- search & global--------------
//-----------------------------------------

.pep-nav__utility {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
}

/* line 94, ../../scss/1024_up.scss */
.pep-nav__utility-item {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //-ms-box-sizing: border-box;
  //-o-box-sizing: border-box;
  //box-sizing: border-box;
  //border: 2px solid #168dc2;
  background-color: grey;
  //border-radius: 43px;
  top: 0px;
  overflow: hidden;
}
.pep-nav__utility-item:hover {
  //background-color: #00557b;
}
.pep-nav__utility-item.utility--search {
  right: -100px;
  top: -25px;
}
.pep-nav__utility-item.utility--global {
  right: 67px;
}
.pep-nav__utility-item.utility--share {
  right: 20px;
}

.pep-nav__utility-item-icon {
  position: absolute;
  display: block;
  background-image: url(../img/SEARCH.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  top: 7px;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

// search bar control
.utility--search .pep-nav__utility-item-icon {
  left: 7px;
  background-position: -87px -2px;
}

.utility--global .pep-nav__utility-item-icon {
  background-position: -44px -2px;
}
.utility--share .pep-nav__utility-item-icon {
  background-position: 0px -2px;
}

.pep-nav__utility--search__input {
  position: relative;
  display: none;
  height: 37px;
  width: calc(100% - 80px);
  margin: 0 0 0 45px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}
.pep-nav__utility--search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.pep-nav__utility__close {
  position: absolute;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 40px;
  width: 40px;
  right: 0;
  top: 0;
  background-image: url(../img/icon__close--white.png);
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}
//
//// global language ----------------------------------
.container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.pep-languages {
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #9e5f04;
  height: auto;
  color: white;
  max-height: 0;
  -webkit-transition: 0.7s ease max-height;
  -moz-transition: 0.7s ease max-height;
  -ms-transition: 0.7s ease max-height;
  -o-transition: 0.7s ease max-height;
  transition: 0.7s ease max-height;
}

.pep-languages.open {
  max-height: 600px;
}

.pep-languages__container {
  margin-top: 120px;
}

.pep-languages-list {
  position: relative;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  vertical-align: top;
  margin-right: 3%;
  margin-top: 20px;
}

.pep-languages-list.pep-languages-list--americas {
  width: 18%;
}

.pep-languages-list.pep-languages-list--europe {
  width: 40%;
}

.pep-languages-list.pep-languages-list--europe .pep-languages-set {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0;
}
.pep-languages-list.pep-languages-list--asia-africa {
  width: 36%;
  margin-right: 0;
}

.pep-languages__header {
  padding-bottom: 0.8rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #0080b9;
}
.pep-languages__header * {
  margin: 0;
}

.pep-languages-list__item {
  height: 1.6rem;
  line-height: 1.6rem;
  cursor: pointer;
}

.pep-languages-list__item:hover {
  color: #0080b9;
}

.pep-languages__image {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-image: url(/img/global-menu-map.png);
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  margin: -50px 0 30px 0;
}

/* line 89, ../../scss/partials/pep-languages.scss */
.pep-languages__close {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url(/img/icon__close--white.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
// -------------------------------








































