.pep-languages {
  @include padb;
  @include wh(100%, 100vh);
  max-height: 0;
  bottom: 0;
  left: 0;

  font: $font-primary;
  font-weight: 300;
  color: dimgray;
  background-color: #d7d6d3;

  -webkit-transition: 0.7s ease max-height;
  -moz-transition: 0.7s ease max-height;
  -ms-transition: 0.7s ease max-height;
  -o-transition: 0.7s ease max-height;
  transition: 0.7s ease max-height;

  overflow: hidden;
  z-index: 9999;
}

.pep-languages.open {
  max-height: calc(100% - 100px);

  -webkit-transition: 0.7s ease max-height;
  -moz-transition: 0.7s ease max-height;
  -ms-transition: 0.7s ease max-height;
  -o-transition: 0.7s ease max-height;
  transition: 0.7s ease max-height;
}

.container {
  @include prdb;
  max-width: 90%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

.pep-languages__container {
  margin: 50px 150px 10px 150px;
  color: dimgray;
}

.global_sites_header {
  text-transform: uppercase;
  .global_sites_title {
    width: 50%;
    div {
      margin-bottom: 3px;
      font-size: 1.5em;
    }
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 2.5em;
    }
  }
}

.pep-languages__close {
  @include padb;
  @include wh(20px, 20px);
  @include top_right(0, 30px);
  float: right;
  background: url(/img/close.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.pep-languages__header {
  padding: 0.6rem 0;
  border-bottom: 1px solid #0080b9;
  border-top: 1px solid #0080b9;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: 400;
  &:hover {
    color: #0080b9;
  }
}

.pep-languages-list__item {
  font: $font-primary;
  font-weight: 300;
  letter-spacing: .2px;
}

.pep_languages_list1 {
  position: relative;
  @include wh(100%, 22%);
  float: left;
  font-weight: 300;

  .pep_language_list_left {
    display: inline-block;
    float: left;
    width: 50%;
  }
  .pep_language_list_right {
    @include prdib;
    @include wh(50%, 300px);
    height: auto;
    padding: 24px;
    float: right;

    .pep-container-map {
      position: relative;
      max-width: 100%;
      margin-top:16px;
    }
    .pep-languages__image {
      max-width: 100%;
      background-size: contain;
      background: no-repeat right top;
    }
  }
}

.pep-languages-list {
  @include prdib;
  margin-right: 5%;
  margin-top: 20px;
  opacity: 0;
  vertical-align: top;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.pep_languages_list2 {
  position: relative;
  @include wh(100%, 30%);
  float: left;
}

.pep-languages-list.pep-languages-list--americas {
  width: 45%;
}

.pep-languages-list.pep-languages-list--asia-africa {
  width: 45%;
  margin-right: 0;
}

.pep-languages-list.pep-languages-list--europe {
  width: 48%;
  margin-top: 35px;
  .pep-languages-set {
    @include prdib;
    width: auto;
    margin-right: 25px;
    vertical-align: top;
  }
}

.pep-languages-list__item {
  height: 1.5rem;
  line-height: 1rem;
  cursor: pointer;
  font-family: Cabin, serif;
  &:hover {
    color: #0080b9;
  }
}

//popup-close button
.pep-languages__close2 {
  @include padb;
  @include wh(12px, 12px);
  @include top_right(15px, 20px);

  color: white;
  background: url(/img/close_white.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
  z-index: 1001;
}
//ipad
@media screen and (max-width: 900px) {
  .pep_languages_list1 .pep_language_list_right  {
    display: none;
  }
  .pep_languages_list1 .pep_language_list_left{
    width: 100%;
  }
  .pep-languages-list.pep-languages-list--americas{
    width: 44%;
    margin-right: 5%;
  }
  .pep-languages-list.pep-languages-list--asia-africa{
    width: 50%;
  }
  .pep-languages__close{
    right: 0px;
  }
  .pep-languages-list.pep-languages-list--europe{
    width: 100%;
  }
  .pep-languages-list.pep-languages-list--europe .pep-languages-set{
    margin-right: 25px;
  }
  .pep-languages-list{
    margin-right: 0;
  }

}
// mobile
@media screen and (max-width: 767px) {
  .pep-languages.open {
    max-height: 100%;
    overflow: scroll;
  }
  .pep-languages__close{
    @include top_right(5px, 20px);
  }

  .pep-languages__container {
    @include prdb;
    @include wh(100vw, 100vh);
    @include top_left(0,0);
    margin: 62px 37px;
    padding: 0;
  }
  .global_sites_title {
    width: 100% !important;
  }

  .pep_language_list_left {
    @include padb;
    width: 100% !important;
    float: left;
    margin-right: 0;
    overflow: visible;
  }

  .pep_language_list_right {
    @include prdn;
    display: none;
    @include wh(0, 0);
    float: left;
    .pep-languages__image{
      display: none;
    }
    .global_sites_title div {
      display: none;
    }
  }

  .pep-languages-list {
    @include prdb;
    width: 100% !important;
  }
  .pep_languages_list1 {
    @include prdb;
    @include wh(100%, 350px);
  }
  .pep_languages_list2 {
    @include prdb;
    float: left;
    height: 200px;
  }

  .pep-languages-set.pep-unlistify{
    font-size: 1.5em;
    width: 100% !important;
  }
  .pep-languages__header{
    font-size: 25px;
  }
  .pep-languages-list.pep-languages-list--asia-africa{
    z-index: 1010;
  }
  .pep-languages-list.pep-languages-list--europe{
    @include padb;
    float: left;
    height: auto;
    top: 145px;
    opacity: 1;
  }
  .pep-languages-list.pep-languages-list--europe.pep-languages-set{
    width: 100% !important;
  }
  .pep-languages-list__item{
    margin-bottom: 10px;
  }
  .popover{
    display: none;
  }
}




