.pep-languages {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  max-height: 0;
  bottom: 0;
  left: 0;

  font: $font-primary;
  font-weight: 300;
  color: dimgray;
  background-color: #d7d6d3;;

  overflow: hidden;
  z-index: 9999;

  -webkit-transition: 0.7s ease max-height;
  -moz-transition: 0.7s ease max-height;
  -ms-transition: 0.7s ease max-height;
  -o-transition: 0.7s ease max-height;
  transition: 0.7s ease max-height;
}

.pep-languages.open {
  //top:100%;
  max-height: calc(100% - 100px);

  -webkit-transition: 0.7s ease max-height;
  -moz-transition: 0.7s ease max-height;
  -ms-transition: 0.7s ease max-height;
  -o-transition: 0.7s ease max-height;
  transition: 0.7s ease max-height;
}

.container {
  position: relative;
  display: block;
  max-width: 90%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;

}

.pep-languages__container {
  margin: 50px 150px 10px 150px;
  color: dimgray;
  //width: 70%;
  //height: 80%;
}

.global_sites_header {
  text-transform: uppercase;
  .global_sites_title {
    width: 50%;
    div {
      margin-bottom: 0;
      font-size: 1em;
    }
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 2.5em;
    }
  }
}

.pep-languages__close {
  position: absolute;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  right: 90px;
  top: 0;
  background: url(/img/close.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.pep-languages__header {
  font-weight: 400;
}

.pep-languages-list__item {
  font: $font-primary;
  font-weight: 300;
  letter-spacing: .2px;
}

.pep_languages_list1 {
  position: relative;
  float: left;
  width: 100%;
  height: 30%;

  font-weight: 300;
  .pep_language_list_left {
    display: inline-block;
    float: left;
    width: 50%;
  }
  .pep_language_list_right {
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;
    height: 300px;

    .pep-container-map {
      max-width: 100%;
      position: relative;
      //max-height: 300px;
    }

    .pep-languages__image {
      max-width: 100%;
      //max-height: 300px;
      //margin: 36px 0 50px 0;
      //background-image: url(/img/MAP.png);
      background-size: contain;
      background: no-repeat right top;
    }
  }
}

.pep_languages_list2 {
  position: relative;
  float: left;
  width: 100%;
  height: 30%;
}

.pep-languages-list {
  position: relative;
  display: inline-block;
  margin-right: 3%;
  margin-top: 20px;

  opacity: 0;
  vertical-align: top;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.pep-languages-list.pep-languages-list--americas {
  width: 25%;
}

.pep-languages-list.pep-languages-list--asia-africa {
  width: 45%;
  margin-right: 0;
}

.pep-languages-list.pep-languages-list--europe {
  width: 37%;
  margin-top: 35px;
}

.pep-languages-list.pep-languages-list--europe .pep-languages-set {
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 0;
  vertical-align: top;
}

.pep-languages__header {
  padding: 0.6rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid #0080b9;
  border-top: 1px solid #0080b9;
  text-transform: uppercase;
  &:hover {
    color: #0080b9;
  }
}

.pep-languages__header * {
  margin: 0;
}

.pep-languages-list__item {
  height: 1.5rem;
  line-height: 1rem;
  cursor: pointer;
  &:hover {
    color: #0080b9;
  }
}

//popup-close button
.pep-languages__close2 {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;;
  right: 20px;
  top: 15px;

  color: white;
  background-size: contain;
  background: url(/img/close_white.png) no-repeat center;
  cursor: pointer;
  z-index: 1001;
}






@media screen and (max-width: 760px) {

  .pep-languages.open {
    //top:100%;
    max-height: 100%;

  }
  .global_sites_title {
    width: 100% !important;
  }
  .pep-languages__container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    display: block;
  }
  .pep_language_list_right, .global_sites_title div {
    opacity: 0;
  }
  .pep_language_list_left {
    overflow: visible;
    display: block;

    position: absolute;
    width: 100% !important;
    float: left;
    margin-right: 0
  }
  .pep_language_list_right {
    position: relative;
    display: block;
    float: left;
    height: 0;
    width: 0;

  }
  .pep-languages-list {
    width: 100% !important;
    display: block;
    position: relative;
  }

  .pep_languages_list1 {
    position: relative;
    display: block;
    height: 420px;
    width: 100%;
  }
  .pep_language_list_right, .pep-languages__image {
    position: absolute;
    width: 100% !important;
  }
  .pep_languages_list2 {
    position: relative;
    display: block;
    float: left;
  }
  .pep-languages-list pep-languages-list--americas {
    position: absolute;
    width: 100% !important;
  }
  .pep-languages-list pep-languages-list--europe {
    width: 100% !important;
    position: relative;
    display: block;
    float: left;
  }
  .pep-languages-set pep-unlistify {
    .pep-languages-list__item {
      opacity: 0;
    }
  }

}



