.pin {
  @include pa;
  width: 20px;
  opacity: 1 ;
  z-index: 3 ;
  transform: translate(-48%, -100%) ;
  .pin__svg {
    display:none;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;

    transform: scale(1);
    transform-origin: center bottom;
    transition: transform 150ms 150ms ease-in-out;
    img:hover {
      transform: scale(1.2);
    }
  }
}

//able
.pin__svg.pin__svg--active {
  @include db;
  background: transparent;
  z-index: 1;
}

.pin__popover {
  position: absolute;
  width: 200px;
  height: 120px;
  opacity: 0;
  top: 0;
  visibility: hidden;
@include transform_y(30px);


  -webkit-transition: visibility 0ms 100ms linear, opacity 150ms 0ms linear, -webkit-transform 150ms 0ms linear;
  -moz-transition: visibility 0ms 100ms linear, opacity 150ms 0ms linear, -moz-transform 150ms 0ms linear;
  transition: visibility 0ms 100ms linear, opacity 150ms 0ms linear, transform 150ms 0ms linear;
  z-index: 10;

}

.pin__popover--active {
  @include pa;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;

  @include transform_y(0);

  -webkit-transition: visibility 0ms 100ms linear, opacity 150ms 100ms linear, -webkit-transform 150ms 120ms linear;
  -moz-transition: visibility 0ms 100ms linear, opacity 150ms 100ms linear, -moz-transform 150ms 120ms linear;
  transition: visibility 0ms 100ms linear, opacity 150ms 100ms linear, transform 150ms 120ms linear;

  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.popover {
  position: absolute;
  width: 100%;
  height: inherit;
  background: #188ac8;
  color: #fff;
  box-shadow: 10px 10px 5px #b0b0b0;
  opacity: .6;
  z-index: 10;
  a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    span.undr {
      text-decoration: none;
      font-family: 'Cabin', sans-serif;

    }
  }
  &:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 8%;
    margin-left: auto;
    border: 16px solid transparent;
    pointer-events: none;
    z-index: 0;
  }
}

.popover__resource {
  position: relative;
  float: left;
  width: 100%;
  height: 300px;
  opacity: 0;
  overflow: hidden;

  -webkit-transition: opacity 150ms 0ms ease-in-out;
  -moz-transition: opacity 150ms 0ms ease-in-out;
  transition: opacity 150ms 0ms ease-in-out;
}

.popover__resource--active, .water-map-modal .popover__resource {
  -webkit-transition: opacity 150ms 200ms ease-in-out;
  -moz-transition: opacity 150ms 200ms ease-in-out;
  transition: opacity 150ms 200ms ease-in-out;
  opacity: 1
}

.popover__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.popover__copy {
  float: left;
  width: 100%;
  padding: 15px;
  height: inherit;
  box-sizing: border-box;
  opacity: 0;

  -webkit-transition: opacity 150ms 0ms ease-in-out;
  -moz-transition: opacity 150ms 0ms ease-in-out;
  transition: opacity 150ms 0ms ease-in-out;

  .popover__title {
    margin-top: -10px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase
  }
  .popover__body {
    margin-top: 20px;
    line-height: 1.6rem !important
  }
}

.popover__copy--active, .water-map-modal .popover__copy {
  -webkit-transition: opacity 150ms 300ms ease-in-out;
  -moz-transition: opacity 150ms 300ms ease-in-out;
  transition: opacity 150ms 300ms ease-in-out;
  opacity: 1;
  height: inherit;
  z-index: 1001;
}

.modal__close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  cursor: pointer;
  z-index: 100001
}

@media (min-width: 360px) {
  .map {
    transform: translateX(-50%)
  }
}

@media (min-width: 600px) {
  .pin {
    width: 30px;
  }
  .map {
    padding: 0 0 30px;
    left: 0;
    transform: none;
  }
}

@media (max-width: 760px) {
  .pin__popover {
    width: 160px;
    height: 120px;
    z-index: 10;
  }
  .popover {
    width: 180px;
    height: 120px;
  }
  .popover__resource {
    width: 200px
  }
  .popover__play-btn {
    width: 50%
  }
  .popover__copy {
    margin: 0 0 0 10px;
    width: 160px;
  }

  //disable the map
  .pin__svg {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    background: transparent;
    z-index: 1;
  }
  .modal__window--popover {
    max-width: 960px !important;
    width: auto !important
  }
  .modal__window {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  #water-map-root {
    padding-top: 80px
  }
}