// TODO: adjust margin/padding of sub check the submenu's margin/padding and fix it as a 0
// TODO: submenu, set first one left ... overflow: visible $(this).width(), .css()
header {
  position: relative;
  display: block;
  width: 100vw;
  height: auto;
}

.mobile_mask {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 240, 235);
  opacity: 0;
}

.pep-nav__utility {
  position: relative;
  display: block;
  height: 2em;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.pep-nav__utility-item {
  position: absolute;
  display: block;
  right:75px;
  height: 40px;
  width: 40px;
  top: 0px;
  overflow: hidden;
}


.pep-nav__utility-item.utility--global {
  width: 110px;
  height: 36px;
  border: 1px solid white;
  padding: 1px 0;
  text-transform: uppercase;
  font-size: .9em;
  opacity: .7;
  span {
    width: inherit;
    height: inherit;
    margin: -4px -43px 0 0;
  }
}

#white_glass {
  width: 22px;
  height: 22px;
  top: 8px;
  z-index: 3;
}


.search_li {
  top: 5px;
  margin-right: 0 !important;
}

.pep-nav__utility-item.utility--search {
  top: 2px;
  right: 87px;
  &:active {
    background-color: white;

  }
}

.pep-nav__utility-item.utility--share {
  right: 20px;
}

#social {
  height: 77px;
  display: none;
}



//search bar > svg wrapper
.pep-nav__utility-item-icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 25px;
  border: 0;
  background-size: 25px 25px;
  background: transparent no-repeat;
  color: white;
  outline: 0;
  cursor: pointer;
  z-index: 999;
  //mask: url(../img/search_m.svg);
  #globalsite {
    color: white;
    opacity: 1;
  }
}

// search bar control
.utility--search .pep-nav__utility-item-icon {
  width: 50px;
  height: 40px;
  left: 7px;
}

.utility--global .pep-nav__utility-item-icon {
  background-position: -44px -2px;
}

.utility--share .pep-nav__utility-item-icon {
  background-position: 0px -2px;
}

#pep-nav__utility__search-form {
  height: 50px;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.pep-nav__utility--search__input {
  position: relative;
  display: none;
  height: 37px;
  width: calc(100% - 80px);
  margin: 0 0 0 45px;
  background: white;
  border: none;
  outline: none;
  color: black;
  font-size: 1.2rem;
}

.pep-nav__utility--search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.pep-nav__utility__close {
  position: relative;
  float: right;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 40px;
  width: 40px;
  right: 0;
  top: 0;
  z-index: 900;
  background-image: url(../img/close.png);
  fill: black;
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.pep-nav__utility-item-icon:active {
  fill: black;
}

.filler-below {
  color: transparent;
  height: 2vh;
}

// list click -> open -> image appear!
.mobile_list {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12px;
  right: 20px;
  margin-left: -16px;
  background: url(../img/mobile/menu_close.png) no-repeat 0 0;
  background-size: contain;
  display: none;
}

.mobile_menu {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50px;
  right: 20px;
  margin-left: -16px;
  background: url(../img/mobile/BURGER.png) no-repeat 0 0;
  background-size: contain;
  display: none;
}

.mobile_search {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 120px;
  left: 47px;
  margin-left: -16px;
  background: url(../img/mobile/menu_search.png) no-repeat 0 0;
  background-size: contain;
  display: none;
}

.mobile_close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 48px;
  left: 47px;
  margin-left: -16px;
  background: url(../img/mobile/mobile_x.png) no-repeat 0 0;
  background-size: contain;
  display: block;
  opacity: 0;
}

/* reset  list style */
.cbp-tm-menu, .cbp-tm-menu ul {
  list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
  list-style: none;
  z-index: 1000;
  text-transform: uppercase;
}

///* first level menu items */
.cbp-tm-menu > li {
  display: inline-block;
  position: relative;
  width: 140px;
  margin-right: 5px;
  &:last-child {
    padding-right: 100px;
  }
}

//menu control
.cbp-tm-menu > li > a {
  //margin-top: -80px;
  line-height: 4em;
  padding: 0 0.3em;
  font-size: 1.2em;
  display: block;
  opacity: 1;
  &:hover {
    -webkit-transition: all 0.2s;
  }
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
  /*transform: scale(1.2);*/
  font-weight: 300;
  color: white;
}

/* submenu with transitions */
.cbp-tm-submenu {
  position: absolute;
  display: inline-block;
  float: left;
  width: 1300px;
  padding: 6px 100px;
  visibility: hidden;
  opacity: 0;

  font-size: .9em;
  text-transform: none;
  text-align: center;
  pointer-events: none;

  -webkit-transition: visibility 0s, opacity 0s;
  -moz-transition: visibility 0s, opacity 0s;
  transition: visibility 0s, opacity 0s;

  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(252, 252, 252, 1) 10%, rgba(252, 252, 252, 1) 50%, rgba(255, 255, 255, 1) 90%, rgba(252, 252, 252, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(252, 252, 252, 1) 10%, rgba(252, 252, 252, 1) 50%, rgba(255, 255, 255, 1) 90%, rgba(252, 252, 252, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(252, 252, 252, 1) 10%, rgba(252, 252, 252, 1) 50%, rgba(255, 255, 255, 1) 90%, rgba(252, 252, 252, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00fcfcfc', GradientType=1);
  //justify-content: center;
  //left: 0;
}

.cbp-tm-submenu .cbp-tm-submenu {
  background: none;
}

.cbp-tm-show .cbp-tm-submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-align: center;

  -webkit-transition: visibility 0s, opacity 0.5s;
  -moz-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 1;
}

.cbp-tm-show-below .cbp-tm-submenu {
  top: 80%;
  padding-top: 5px;
  opacity: .9;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
  right: 0;
  left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
  left: 0;
}

.cbp-tm-menu > li:first-child .cbp-tm-submenu {
  left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
  right: 0;
}

.cbp-tm-submenu:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 8%;
  border: 16px solid transparent;
  margin-left: auto;

  content: " ";
  pointer-events: none;
  z-index: 0 !important;
}

// submenu(2nd) padding, starting point, arrow position
#rido_menu1 {
  padding: 6px 150px;
  left: -120px;
  &:after {
    left: 13%;
  }
}

#rido_menu2 {
  padding: 6px 270px;
  left: -275px;
  &:after {
    left: 26%;
  }
}

#rido_menu3 {
  padding: 6px 550px;
  left: -430px;
  &:after {
    left: 38%;
  }
}

#rido_menu4 {
  padding: 6px 300px;
  left: -560px;
  &:after {
    left: 47%;
  }
}

#rido_menu5 {
  padding-left: 200px;
  left: -700px;
  &:after {
    left: 58%;
  }
}

.rido_subtitle {
  float: left;
  margin: 5px 8px 5px 10px;
  //text-align: center;
  line-height: 18px;
  text-transform: uppercase;
}

// third menu position control
#rido_third1 {
  left: 0;
  padding: 0 460px;
}

#rido_third3 {
  left: 0;
}

#rido_third4 {
  left: 0;
  padding-left: 460px;
}

#rido_menu6:after {
  left: 71%;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
  bottom: 100%;
  margin-bottom: -10px;
}

.cbp-tm-submenu.rido_third_ul {
  top: 40px;
  font-size: 15px;
  &:after {
    display: none;
  }
}

.cbp-tm-show-below .cbp-tm-submenu:after {
  border-bottom-color: #fff;
}

.cbp-tm-submenu li {
  display: inline-block;
  a {
    position: relative;
    font-size: .9em;
    font-weight: 400;
    color: #797575;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 10;

  }
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
  //color: black;
  color: dodgerblue;

}

.cbp-tm-submenu li a:before {
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin-top: -0.5em;
  font-size: 60%;
}

// third menu hide/show
.rido_third_ul {
  position: absolute;
  display: none;
  float: left;
  background: transparent;
  opacity: 0 !important;
}
.rido_third_ul-active {
  display: block;
  height: 400px;
  width: 100%;

  opacity: 1 !important;
  transition: opacity 2s ease !important;
}

//mobile
.menu_close_icon {
  position: relative;
  top: 2px !important;;
  display: inline-block;
  background-size: cover;
  height: 10px;
  width: 10px;
  padding-right: 20px;
  background: url(../img/close_menu1.png) no-repeat 5px 0px;
}

.cbp-tm-submenu.rido_third_ul.rido_third_ul-active {
  li a {
    font-size: 1em;
    font-weight: 300;

    color: white;
    opacity: 1;
    &:hover {
      opacity: .7;
    }
  }
}

@media screen and (max-width: 1060px) {

  .cbp-tm-menu {
    font-size: 98%;
    padding: 0;

    li {
      width: 90px;
    }
  }
}

/* Media Queries */
@media screen and (max-width: 1260px) {
  .cbp-tm-menu {
    font-size: 95%;
    padding: 0;

    li {
      width: 90px;
    }
  }
  .search_li {
    width: 80px;
    .pep-nav__utility-item.utility--search {
      top: -3px;
      right: 30px;
    }
  }
  .cbp-tm-submenu {
    width: 100vw;
    max-width: 1200px;
    li {
      width: auto;
    }
  }
  #rido_menu1 {
    padding: 6px 100px;
    left: -244px;
    &:after {
      left: 23%;
    }
  }
  #rido_menu2 {
    padding: 6px 238px;
    left: -320px;
    &:after {
      left: 30%;
    }
  }
  #rido_menu3 {
    padding: 6px 522px;
    left: -440px;
    &:after {
      left: 39%;
    }
  }
  #rido_menu4 {
    padding: 6px 254px;
    left: -538px;
    &:after {
      left: 47%;
    }
  }
  #rido_menu5 {
    padding: 6px 100px;
    left: -646px;
    &:after {
      left: 56%;
    }
  }
  .pep-nav__utility {
    position: relative;
    display: block;
    height: 2em;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .pep-nav__utility-item {
    position: absolute;
    display: block;
    right:200px;
    height: 40px;
    width: 40px;
    top: 0px;
    overflow: hidden;
  }








}


@media screen and (max-width: 1000px) {
  body {
    background: url(../img/mobile/mobile_background.png) no-repeat 0 0;
    background-size: cover;
  }
  .container {
    //background-color: red;
    position: relative;
    display: block;
    height: 100vh;
    top: 100px;
  }
  .mobile_menu, .mobile_list, .mobile_search {
    display: block;
  }

  .pep-nav__utility {
    position: relative;
    display: block;
    height: 2em;
    width: 100%;
    max-width: 650px;
    margin: auto;
  }

  .pep-nav__utility-item {
    position: absolute;
    display: block;
    right:68px;
    height: 40px;
    width: 40px;
    top: 0px;
    overflow: hidden;
  }






  .pep-nav__utility--search__input {
    width: 100%;
  }
  .pep-nav__utility-item.utility--search {
    position: absolute;
    float: left;
    width: 100% !important;
  }
  #pep-nav__utility--search {
  }
  #social {
    height: 77px;
    opacity: 1;
    display: inline-block;
  }
  // .social-media-icons {
  //   padding: 0px 45px;
  //   opacity: 1;
  //   li {
  //     opacity: 1;
  //     a {
  //       opacity: 1;
  //     }
  //   }
  // }
  .rido_title {
    //font-size: 30px;
    color: #414141;
  }

  .rido_subtitle {
    display: inline-block;
    width: 100vw;
      line-height: 18px;
    font-weight: 300 !important;

    a {
      position: absolute;
      display: block;
      left: 0;
      color: #B1B1B1;
    }
  }


  #rido_menu1,
  #rido_menu2, #rido_menu3,
  #rido_menu4, #rido_menu5 {
    left: 0;
    padding: 0;
    width: 100vw;
  }
  #rido_third1, #rido_third2, #rido_third3, #rido_third4 {
    left: 0;
    width: 100vw;
    padding-left: 2em;
    top: 0;
    font-size: 1em;
  }
  //burger open
  .cbp-tm-menu {
    position: relative;
    padding: 0;
    top: auto;
    opacity: 0;
    font-size: 100%;
    text-align: center;
    overflow: hidden;
    //-webkit-transition: all 0.3s;
    //-moz-transition: all 0.3s;
    //transition: all 0.3s;
    li {
      display: block;
      width: 100%;
      margin: 0;
      border-top: .1px solid #B1B1B1;
      overflow: hidden;

      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s;
      a {
        text-align: left;
        display: block;
        line-height: 2em;

        position: relative;
        padding-left: 1.2em;
        font-size: 2em;
        color: black;
        opacity: .7;
      }
      &:first-child {
        //border-top: 1px solid #3793ca;
      }
    }
  }

  //menu title control
  .cbp-tm-menu.open {
    opacity: 1;
  }

  li.cbp-tm-show > a,
  .no-touch .cbp-tm-menu > li > a:hover,
  .no-touch .cbp-tm-menu > li > a:active {
    color: #B1B1B1;
  }

  .cbp-tm-submenu {
    position: relative;
    display: none;
    float: left;

    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    clear: both;
    background: transparent;
    border-bottom: transparent;
    border-top: transparent;
    li {
      left: 0;
      padding: 0;
      clear: both;
      width: 100vw;
      border: none;
      a {
        content: "";
        display: block;
        clear: both;
        float: left;
        padding-left: 2em;
        &:hover{
          color: dodgerblue !important;
        }
      }
    }
    &::after {
      display: none;
    }
  }
  .cbp-tm-submenu-active {
    display: block;
    opacity: 1;
    height: auto;
    //transition: opacity 2s ease !important;
  }

  .cbp-tm-show .cbp-tm-show-below {
  }
  cbp-tm-submenu.rido_third_ul {
    display: none;
    position: relative;
    float: left;
    height: 0;
    background: transparent;
    font-size: 20px;
    opacity: 0 !important;
    li a {
      color: #B1B1B1;
      padding-left: 0;
      left: 0;

    }
  }
  .rido_third_ul-active {
    display: block;
    height: auto;
    opacity: 1 !important;
  }

  .cbp-tm-submenu.rido_third_ul.rido_third_ul-active li a {
    color: black;
    opacity: .7;
    font-weight:300;
  }

  .pep-nav__utility__close {
    display: none;
  }

  .cbp-tm-menu .cbp-tm-show-below {
    transition: all 1s;
  }

  .cbp-tm-menu .cbp-tm-show .cbp-tm-submenu {
    display: block;
    content: "";
    clear: both;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    transition: all 0.7s ease;
  }
  #rido_menu1 {
    padding-left: 65px;
    left: -130px;
    &:after {
      left: 13%;
    }
  }
  #rido_menu2 {
    padding-left: 150px;
    left: -200px;
    &:after {
      left: 26%;
    }
  }
  #rido_menu3 {
    padding-left: 320px;
    left: -320px;
    &:after {
      left: 37%;
    }
  }
  #rido_menu4 {
    padding-left: 150px;
    left: -490px;
    &:after {
      left: 47%;
    }
  }
  #rido_menu5 {
    padding-left: 100px;
    left: -590px;
    &:after {
      left: 58%;
    }
  }
}

// default @media, this overwrite the container
@media screen and (max-width: 880px) {
  .container > header h1,
  .container > header nav {
    float: none;
  }

  .container > header > span,
  .container > header h1 {
    text-align: center;
  }

  .container > header nav {
    margin: 0 auto;
  }

  .container > header > span {
    text-indent: 30px;
  }
}

@media screen and (max-width: 760px) {
  .filler-above,
  .filler-below {
    position: relative;
    height: auto;
    background: #f0f0f0;
  }
  
  #menu_container {
    max-width: 100%;
  }
  // hide the search, what is the design for it
  .search_li {
    display: none;
  }
  #social {
    border-top: 0;
  }
  .cbp-tm-menu>li:last-child {
    padding-right: 0;
  }
  .social-media-icons {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 80%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    font-size: 12px;
    opacity: 1;
    background: url(../img/mobile/menu_social.png) no-repeat center 0;
    background-size: 90% auto;
    li {
      width: 18%;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: 1%;
      margin-right: 1%;
      position: relative;
      border-top: 0;
      a {
        width: 100%;
        display: block;
        height: 45px;
        cursor: pointer;
        // background-color: silver;
      }
      a.facebook {
        // background-color: blue;
      }
      a.twitter {
        // background-color: peachpuff;
      }
      a.linkedIn {
        // background: red;
      }
      a.pinterest {
      }
      a.instagram {
      }
    }
  }
  
  #search_li {
    display: none;
  }

  .cbp-tm-submenu {
    padding-left: 10px !important;
    left: 0 !important;
  }

}



